:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
  --fontFamily: "Outfit", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
}

img {
  max-width: 100%;
}

.container {
  height: 100vh;
  font-family: var(--fontFamily);
  font-size: 1.5rem;
  background-color: var(--lightGray);

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.card {
  width: 30rem;
  background-color: var(--white);
  text-align: center;
  border-radius: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.card__img {
  padding: 1.5rem;
}

.card__img img {
  border-radius: 1rem;
}

.card__text {
  width: 85%;
}

.text__title {
  font-size: 2rem;
  padding: 1rem 0;
}

.text__info {
  font-size: 1.5rem;
  margin: 1rem 0 3rem 0;
}
